<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayGround</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="main">
    <h1>Welcome!</h1>
    <div class="box-container">
        {% for i in range(boxnum) %}
    <div class="box" style="background-color: {{box_color}};"></div>
    {% endfor %}
    </div>
    </div>
</body>
</html>